In [2]:
import pandas as pd

In [3]:
dataframe1 = pd.read_csv("IRIS.csv")

In [4]:
print(dataframe1)

    5.1  0.222222222  3.5     0.625  1.4  0.06779661  0.2  0.041666667  \
0   4.9     0.166667  3.0  0.416667  1.4    0.067797  0.2     0.041667
1   4.7     0.111111  3.2  0.500000  1.3    0.050847  0.2     0.041667
2   4.6     0.083333  3.1  0.458333  1.5    0.084746  0.2     0.041667
3   5.0     0.194444  3.6  0.666667  1.4    0.067797  0.2     0.041667
4   5.4     0.305556  3.9  0.791667  1.7    0.118644  0.4     0.125000
5   4.6     0.083333  3.4  0.583333  1.4    0.067797  0.3     0.083333
6   5.0     0.194444  3.4  0.583333  1.5    0.084746  0.2     0.041667
7   4.4     0.027778  2.9  0.375000  1.4    0.067797  0.2     0.041667
8   4.9     0.166667  3.1  0.458333  1.5    0.084746  0.1     0.010000
9   5.4     0.305556  3.7  0.708333  1.5    0.084746  0.2     0.041667
10  4.8     0.138889  3.4  0.583333  1.6    0.101695  0.2     0.041667
11  4.8     0.138889  3.0  0.416667  1.4    0.067797  0.1     0.010000
12  4.3     0.010000  3.0  0.416667  1.1    0.016949  0.1     0.010000
13  5.8     0.416667  4.0  0.833333  1.2    0.033898  0.2     0.041667
14  5.7     0.388889  4.4  0.999900  1.5    0.084746  0.4     0.125000
15  5.4     0.305556  3.9  0.791667  1.3    0.050847  0.4     0.125000
16  5.1     0.222222  3.5  0.625000  1.4    0.067797  0.3     0.083333
17  5.7     0.388889  3.8  0.750000  1.7    0.118644  0.3     0.083333
18  5.1     0.222222  3.8  0.750000  1.5    0.084746  0.3     0.083333
19  5.4     0.305556  3.4  0.583333  1.7    0.118644  0.2     0.041667
20  5.1     0.222222  3.7  0.708333  1.5    0.084746  0.4     0.125000
21  4.6     0.083333  3.6  0.666667  1.0    0.010000  0.2     0.041667
22  5.1     0.222222  3.3  0.541667  1.7    0.118644  0.5     0.166667
23  4.8     0.138889  3.4  0.583333  1.9    0.152542  0.2     0.041667
24  5.0     0.194444  3.0  0.416667  1.6    0.101695  0.2     0.041667
25  5.0     0.194444  3.4  0.583333  1.6    0.101695  0.4     0.125000
26  5.2     0.250000  3.5  0.625000  1.5    0.084746  0.2     0.041667
27  5.2     0.250000  3.4  0.583333  1.4    0.067797  0.2     0.041667
28  4.7     0.111111  3.2  0.500000  1.6    0.101695  0.2     0.041667
29  4.8     0.138889  3.1  0.458333  1.6    0.101695  0.2     0.041667
..  ...          ...  ...       ...  ...         ...  ...          ...
69  6.5     0.611111  3.0  0.416667  5.8    0.813559  2.2     0.875000
70  7.6     0.916667  3.0  0.416667  6.6    0.949153  2.1     0.833333
71  4.9     0.166667  2.5  0.208333  4.5    0.593220  1.7     0.666667
72  7.3     0.833333  2.9  0.375000  6.3    0.898305  1.8     0.708333
73  6.7     0.666667  2.5  0.208333  5.8    0.813559  1.8     0.708333
74  7.2     0.805556  3.6  0.666667  6.1    0.864407  2.5     0.999900
75  6.5     0.611111  3.2  0.500000  5.1    0.694915  2.0     0.791667
76  6.4     0.583333  2.7  0.291667  5.3    0.728814  1.9     0.750000
77  6.8     0.694444  3.0  0.416667  5.5    0.762712  2.1     0.833333
78  5.7     0.388889  2.5  0.208333  5.0    0.677966  2.0     0.791667
79  5.8     0.416667  2.8  0.333333  5.1    0.694915  2.4     0.958333
80  6.4     0.583333  3.2  0.500000  5.3    0.728814  2.3     0.916667
81  6.5     0.611111  3.0  0.416667  5.5    0.762712  1.8     0.708333
82  7.7     0.944444  3.8  0.750000  6.7    0.966102  2.2     0.875000
83  7.7     0.944444  2.6  0.250000  6.9    0.999900  2.3     0.916667
84  6.0     0.472222  2.2  0.083333  5.0    0.677966  1.5     0.583333
85  6.9     0.722222  3.2  0.500000  5.7    0.796610  2.3     0.916667
86  5.6     0.361111  2.8  0.333333  4.9    0.661017  2.0     0.791667
87  7.7     0.944444  2.8  0.333333  6.7    0.966102  2.0     0.791667
88  6.3     0.555556  2.7  0.291667  4.9    0.661017  1.8     0.708333
89  6.7     0.666667  3.3  0.541667  5.7    0.796610  2.1     0.833333
90  7.2     0.805556  3.2  0.500000  6.0    0.847458  1.8     0.708333
91  6.2     0.527778  2.8  0.333333  4.8    0.644068  1.8     0.708333
92  6.1     0.500000  3.0  0.416667  4.9    0.661017  1.8     0.708333
93  6.4     0.583333  2.8  0.333333  5.6    0.779661  2.1     0.833333
94  7.2     0.805556  3.0  0.416667  5.8    0.813559  1.6     0.625000
95  7.4     0.861111  2.8  0.333333  6.1    0.864407  1.9     0.750000
96  7.9     0.999900  3.8  0.750000  6.4    0.915254  2.0     0.791667
97  6.4     0.583333  2.8  0.333333  5.6    0.779661  2.2     0.875000
98  6.3     0.555556  2.8  0.333333  5.1    0.694915  1.5     0.583333

       setosa
0      setosa
1      setosa
2      setosa
3      setosa
4      setosa
5      setosa
6      setosa
7      setosa
8      setosa
9      setosa
10     setosa
11     setosa
12     setosa
13     setosa
14     setosa
15     setosa
16     setosa
17     setosa
18     setosa
19     setosa
20     setosa
21     setosa
22     setosa
23     setosa
24     setosa
25     setosa
26     setosa
27     setosa
28     setosa
29     setosa
..        ...
69  virginica
70  virginica
71  virginica
72  virginica
73  virginica
74  virginica
75  virginica
76  virginica
77  virginica
78  virginica
79  virginica
80  virginica
81  virginica
82  virginica
83  virginica
84  virginica
85  virginica
86  virginica
87  virginica
88  virginica
89  virginica
90  virginica
91  virginica
92  virginica
93  virginica
94  virginica
95  virginica
96  virginica
97  virginica
98  virginica

[99 rows x 9 columns]

In [5]:
#pd.read_csv("IRIS.csv", header=None)

In [6]:
#Per visualizzare i parametri accettati dalla funzione read_csv, usare Shift+Tab

In [12]:
#Per visualizzare solo un certo numero di dati, usare head(n) o tail(n), dove n è il numero di elementi da visualizzare
dataframe1.head(10)

   5.1  0.222222222  3.5     0.625  1.4  0.06779661  0.2  0.041666667  setosa
0  4.9     0.166667  3.0  0.416667  1.4    0.067797  0.2     0.041667  setosa
1  4.7     0.111111  3.2  0.500000  1.3    0.050847  0.2     0.041667  setosa
2  4.6     0.083333  3.1  0.458333  1.5    0.084746  0.2     0.041667  setosa
3  5.0     0.194444  3.6  0.666667  1.4    0.067797  0.2     0.041667  setosa
4  5.4     0.305556  3.9  0.791667  1.7    0.118644  0.4     0.125000  setosa
5  4.6     0.083333  3.4  0.583333  1.4    0.067797  0.3     0.083333  setosa
6  5.0     0.194444  3.4  0.583333  1.5    0.084746  0.2     0.041667  setosa
7  4.4     0.027778  2.9  0.375000  1.4    0.067797  0.2     0.041667  setosa
8  4.9     0.166667  3.1  0.458333  1.5    0.084746  0.1     0.010000  setosa
9  5.4     0.305556  3.7  0.708333  1.5    0.084746  0.2     0.041667  setosa

In [10]:
dataframe1.tail(10)

,5.1,0.222222222,3.5,0.625,1.4,0.06779661,0.2,0.041666667,setosa
89,6.7,0.666667,3.3,0.541667,5.7,0.796610,2.1,0.833333,virginica
90,7.2,0.805556,3.2,0.500000,6.0,0.847458,1.8,0.708333,virginica
91,6.2,0.527778,2.8,0.333333,4.8,0.644068,1.8,0.708333,virginica
92,6.1,0.500000,3.0,0.416667,4.9,0.661017,1.8,0.708333,virginica
93,6.4,0.583333,2.8,0.333333,5.6,0.779661,2.1,0.833333,virginica
94,7.2,0.805556,3.0,0.416667,5.8,0.813559,1.6,0.625000,virginica
95,7.4,0.861111,2.8,0.333333,6.1,0.864407,1.9,0.750000,virginica
96,7.9,0.999900,3.8,0.750000,6.4,0.915254,2.0,0.791667,virginica
97,6.4,0.583333,2.8,0.333333,5.6,0.779661,2.2,0.875000,virginica
98,6.3,0.555556,2.8,0.333333,5.1,0.694915,1.5,0.583333,virginica

In [11]:
#La funzione describe fornisce un riepilogo delle variabili numeriche
dataframe1.describe()

,5.1,0.222222222,3.5,0.625,1.4,0.06779661,0.2,0.041666667
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,5.922222,0.450717,3.036364,0.431918,3.875758,0.487517,1.223232,0.468314
std,0.856852,0.237821,0.439261,0.182784,1.777127,0.301043,0.742284,0.308823
min,4.300000,0.010000,2.000000,0.010000,1.000000,0.010000,0.100000,0.010000
25%,5.200000,0.250000,2.800000,0.333333,1.600000,0.101695,0.400000,0.125000
50%,5.900000,0.444444,3.000000,0.416667,4.500000,0.593220,1.400000,0.541667
75%,6.500000,0.611111,3.300000,0.541667,5.100000,0.694915,1.800000,0.708333
max,7.900000,0.999900,4.400000,0.999900,6.900000,0.999900,2.500000,0.999900

In [14]:
#Sul sito https://archive.ics.uci.edu sono presenti moltissimi dataset; per utilizzarli, è sufficiente cliccare su uno dei dataset presenti nel menù "Most Popular Data Sets (hits since 2007):", cliccare su "Download: Data Folder" e copiare il link del file .data
dataframe_wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

In [15]:
dataframe_wine.head(10)

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
5,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
6,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
7,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
8,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
9,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510

In [19]:
#Per salvare all'interno della cartella di lavoro
dataframe_wine.to_csv("dataframe_wine")

In [ ]:
#Per leggere altri formati, si usano funzioni come read_excel(nomefile, nomefoglio), oppure read_table(nome_tabella); altri due esempi sono read_json(file_json) o read_html(filehtml)