In [1]:
import pandas as pd
import numpy as np

In [2]:
# Per generare dati casuali, uso la funzione randn (numero_casi, numero_variabili)
df = pd.DataFrame(np.random.randn(10,5))
print(df)

          0         1         2         3         4
0  0.012941 -0.443877 -0.879586 -0.359424 -0.976621
1 -0.822386  1.070432 -0.578055 -0.803369 -0.652699
2  1.256754 -0.394013  1.109309 -0.503530  1.441521
3  1.093789  0.560268 -1.140290  1.174298 -0.041390
4  0.750035 -0.051648 -1.203405 -0.540931  0.184492
5  0.100548 -1.621282  1.820715 -0.866994 -0.540759
6 -0.526761 -0.254404  1.456815 -0.374798  0.668181
7  0.434215 -1.294409 -0.137582  0.689793 -0.093087
8 -0.113208 -0.072504  0.432290 -0.280253 -0.914688
9  1.392504  0.892077  0.175387  0.554549  0.784294

In [5]:
# Per ottenere lo stesso risultato, si usa la funzione seed della libreria numpy
np.random.seed(99)
pd.DataFrame(np.random.randn(10,5))

          0         1         2         3         4
0 -0.142359  2.057222  0.283262  1.329812 -0.154622
1 -0.069031  0.755180  0.825647 -0.113069 -2.367838
2 -0.167049  0.685398  0.023500  0.456201  0.270493
3 -1.435008  0.882817 -0.580082 -0.501565  0.590953
4 -0.731616  0.261755 -0.855796 -0.187526 -0.373486
5 -0.461971 -0.816466 -0.045123  0.121328  0.925953
6 -0.573820  0.052703  2.207311  0.391822  0.482713
7  0.433334 -1.704292 -0.243908 -2.139704  0.861323
8  1.700284 -0.528785  1.763478 -1.121608 -1.191934
9  0.552732 -0.815981 -0.496647  1.086226 -0.974675

In [6]:
np.random.seed(99)
pd.DataFrame(np.random.randn(10,5))

          0         1         2         3         4
0 -0.142359  2.057222  0.283262  1.329812 -0.154622
1 -0.069031  0.755180  0.825647 -0.113069 -2.367838
2 -0.167049  0.685398  0.023500  0.456201  0.270493
3 -1.435008  0.882817 -0.580082 -0.501565  0.590953
4 -0.731616  0.261755 -0.855796 -0.187526 -0.373486
5 -0.461971 -0.816466 -0.045123  0.121328  0.925953
6 -0.573820  0.052703  2.207311  0.391822  0.482713
7  0.433334 -1.704292 -0.243908 -2.139704  0.861323
8  1.700284 -0.528785  1.763478 -1.121608 -1.191934
9  0.552732 -0.815981 -0.496647  1.086226 -0.974675